/* Footer Styling */

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tamma 2", sans-serif;
  background-color: #2f3245; /* Dark theme background */
}

/* Footer Container */
footer {
  background-color: #2b2b2b; /* Dark gray footer */
  padding: 20px 0;
}

/* Footer Text */
footer h5 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: #9ca3af; /* Muted gray */
}

/* Footer Link */
footer a {
  color: #f9a826 !important; /* Yellow text */
  font-weight: 600;
  text-decoration: none;
}

/* Hover Effect */
footer a:hover {
  text-decoration: underline;
}
