/* style.css */

body {
  font-family: "Baloo Tamma 2", sans-serif;
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Container */
.navigation {
  background: #111;
  border-radius: 10px;
}

/* Navigation Links */
.navigation-link {
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.navigation-link:hover {
  color: orange !important;
  text-decoration: underline;
}

/* Logo Text */
h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

/* Icon Styling */
.fa-code {
  cursor: pointer;
}
